@charset "UTF-8";
/* CSS Document */

/* Table of Contents
--------------------------------1 Format
--------------------------------------1.1 Column Format
--------------------------------------1.2 Backgrounds
--------------------------------------1.3 Buttons
--------------------------------------1.4 Images
--------------------------------2 Navigation 
--------------------------------------2.1 Main
--------------------------------3 Structure
--------------------------------------3.1 Site Form
--------------------------------------3.2 Site Header
--------------------------------4 Typography
--------------------------------------4.1 Typography
--------------------------------5 Utility
--------------------------------------5.1 Columns Floats, Positions, Displays
--------------------------------------------*/

/*-----------------------------------FORMAT----------------------------*/

/*----------Column Format------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 85%; /*original width is 1170*/
	margin: 0 auto;
}

.row:after {
	content:" ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

[class*="col-"] {    /*means that all in that category will be changed*/
	float: left;
	padding: 0 10px 20px 10px;
}

[class*="col-"]:first-of-type {   
	padding-left: 0;
}

[class*="col-"]:last-of-type {   
	padding-right: 0;
}

/*----------Column Format------------*/

/*---------------Backgrounds----------*/
#header {
	background-image: url(../../../../../../Git%20Hub/2567-twin-finch/img/hero-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 75px;
}

#customer {
	background-image: url(../../../../../../Git%20Hub/2567-twin-finch/img/body-image-copy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

#about {
	padding-top: 50px;
}

#products, #about, #contact, #location, #footer {
	background-color: #292929;
}


#location {
	padding-top: 50px;
}

#contact {
	padding-top: 50px;
}

#products {
	padding-top: 50px;
}

/*---------------Backgrounds----------*/

/*--------Buttons-----------*/

.btn-one {
	padding-top: 10px;
	padding-left: 220px;
}

.btn-one a {
	border-radius: 25px;
	background-color: #292929;
	border-width: thin;
	border-style: solid;
	border-color: #ffffff;
	padding: 10px 50px;
}

.btn-one a:hover {
	background-color: #686463;
}

input[type="submit"] {
	border-radius: 5px;
	background-color: #292929;
	border-width: thin;
	border-style: solid;
	border-color: #ffffff;
	padding: 10px 50px;
}

input[type="submit"] a {
	background-color: #686463;
}

/*--------Buttons-----------*/

/*--------Images-----------*/

.col-1-2 img {
	height: 300px;
	padding-left: 165px;
}

#map {
	padding-left: 200px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.logo {
	float: left;
	padding-top: 20px;
}

.icon ul li {
	float: right;
}

#products .col-1-2 {
	padding-top: 50px;
}


/*--------Images-----------*/

/*------------------------------------NAVIGATION----------------*/

/*--------Main-----------*/

ul li {
	display: inline-block;
	margin-right: 3rem;
}

nav {
	float: right;
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #828080;
}

/*--------Main-----------*/

/*------------------------------------STRUCTURE----------------*/

/*--------Form-----------*/

form {
	align: center;
	
}

input[type="text"], input[type~="email"] {
	width: 100%;
	height: 3rem;
	display: block;
	margin-bottom: 25px;
	
}

input[type="submit"] {
	float: right;
}

#contact .col-1-2 {
	text-align: left;
	font-size: .75rem;
	margin-top: 2rem;
	margin-bottom: .25rem;
}

#article {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

/*--------Form-----------*/

/*--------Body and Headers-----------*/

h1, h2, h3, p {
	text-align: center;
}

/*--------Body and Headers-----------*/

/*------------------------------------Typography----------------*/

/*--------Typography-----------*/

body {
	font-family: 'Crimson Text', serif;
	color: white;
}

h1 {
	line-height: 3rem;
	font-weight: 100;
}

h2 {
	font-size: 2.5rem;
	font-weight: lighter;
}

h3 {
	font-size: 1.5rem;
	font-weight: lighter;
}

p {
	font-size: .75rem;
	font-weight: lighter;
}

#about p {
	font-size: 1.25rem;
	line-height: 2rem;
}

#customer p, #location p {
	font-size: 1.25rem;
	line-height: 2rem;
}

input {
	background-color: #292929;
	border-style: solid;
	border-color: #686463;
	padding-left: 20px; 
}

.price {
	font-size: 1.25rem;
	color: #686463;
}

section:nth-child(3) .col-8-10:last-child p {
	padding-top: 15px;
	font-size: 1.25rem;
	color: #8b8c8b;
}

#review {
	font-size: 1rem;
}

#footer p {
	font-size: 1rem;
}

#products .row:nth-child(3) .col-1-2:first-child p {
	font-style: italic;
}

#products .row:nth-child(3) .col-1-2:nth-child(2) .btn-one:last-child  {
	padding-top: 30px;
}

#products .row:nth-child(4) .col-1-2:nth-child(2) .btn-one:last-child  {
	padding-top: 35px;
}

/*--------Typography-----------*/

/*----------------------------------------------UTILITY---------------*/

/*----Columns Floats, Positions, Displays-------*/

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 30%;
}

.col-1-4 {
	width:;
	float: right;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%;
}


/*-----------------------------------*/

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-4-5 {
	width: 80%;
}

.col-5-6 {
	width: 83.33%;
}

.col-5-7 {
	width: 71.42%;
}

.col-2-7 {
	width: 28.57%;
}

.col-4-8 {
	width: 50%;
}

.col-3-9 {
	width: 33.33%;
}

.col-6-9 {
	width: 66.66%;
}

.col-2-10 {
	width: 20%;
}

.col-8-10 {
	width: 80%;
	margin: 0 auto;
	float: none;
}

.col-5-11 {
	width: 45.45%;
}

.col-6-11 {
	width: 54.54%;
}

.col-7-12 {
	width: 58.33%;
}

.col-5-12 {
	width: 41.66%;
}

/*--------------------------------------*/

.col-1-1 div {
	height: 300px;
	background-color: pink;
}

.col-1-2 div {
	height:;

}

.col-1-3 div {
	height:;
}

.col-2-3 div {
	height: 300px;
	
}

.col-1-4 div {
	height:;
	
}

.col-3-4 div {
	height:;
	
}

.col-1-5 div {
	height: 300px;
	background-color: yellow;
}

.col-4-5 div {
	height: 300px;
	background: orange; 
}

.col-1-6 div {
	height: 300px;
	background: red;
}

.col-5-6 div {
	height: 300px;
	background: blue;
}

.col-1-7 div {
	height: 300px;
	background: pink;
}

.col-5-7 div{
	height: 300px;
	background: purple;
}

.col-2-7 div {
	height: 300px;
	background: yellow;
}

.col-1-8 div {
	height: 300px;
	background: blue;
}

.col-4-8 div {
	height: 300px;
	background: green;
}

.col-1-9 div {
	height: 300px;
	background: #C035F1;
}

.col-3-9 div {
	height: 300px;
	background: yellow;
}

.col-6-9 div {
	height: 300px;
	background: red;
}

.col-1-10 div {
	height: 300px;
	background: orange;
}

.col-2-10 div  {
	height: 300px;
	background: green;
}

.col-8-10 div {
	height:;
}

.col-1-11 div {
	height: 300px;
	background: red;
}

.col-5-11 div {
	height: 300px;
	background: green;
}

.col-6-11  div {
	height: 300px;
	background: yellow;
}

.col-1-12 div {
	height: 300px;
	background: blue;
}

.col-7-12 div{
	height: 300px;
	background: pink;
}

.col-5-12  div {
	height: 300px;
	background: red;
}

	
@media screen and (max-width: 480px) {
	
	.wrapper {
		width: 95%;
	}

	.col-8-10 {
		width: 100%;
	}

	.col-1-3, .col-1-2{
		width: 100%;
		padding: 0 0 20px 0;
	}
	

	.btn-one {
		padding-left: 110px;
	}
	
	#icon {
		padding-left: 0;
	}
	

	#contact img {
		height: 35px;
		padding-left: 50px;
	}
	
	h1 {
		padding: 0;
		font-size: 1.5rem;
	}
	
	.col-1-2 img {
	height: 300px;
	padding-left: 50px;
	}

	#map {
	padding-left: 0;
	}
	
	figure img {
		padding-left: 85px;
	}
	
	nav {
		font-size: .3rem;
		text-align: left;
	}
	
	.col-3-4 {
	width: 100%;
	display: inline;
	}
	
	#contact {
		width: 100%;
		padding-left: 50px;
		padding: 0;
	}
	
	#products .col-1-2 {
	padding-top: 0;
	}
	
	.icon ul li {
	padding-right: 20px;
	}

}



